body {
    background-color: #ffa5006e;
    color: #c34821;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

header {
    padding: 20px, 20px, 0px, 20px;
}

#menu {
    text-align: left;
}
#menu span {
    text-decoration: underline;
    margin: 15px;
}

#crab-logo {
    margin: auto;
    width: 250px;
    height: 250px;
}

.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

#game-stats {
    display: none;
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    margin-left: 10px;
    opacity: 0.8;
    min-width: 150px;
    text-align: left;
}

#game-stats span {
    display: block;
}

#action-box {
    display: none;
    background-color: #ddd;
    color: #111;
    border: solid 2px lime;
    border-radius: 10px;
    width: 300px;
    min-height: 150px;
    padding: 15px;
}

#action-box-content {
    margin-bottom: 10px;
}

#arena {
    padding: 25px;
    margin-bottom: 25px;
}

.crab-node {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: aqua;
    color: #111;
    border-radius: 3px;
    margin: 10px;
}

.screen {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #322626;
    color: limegreen;
    font-size: 3px;
}

.screen-top-bar {
    width: 100%;
    margin: 0px;
    background-color: #008;
    color: #eee;
    text-align: left;
}

.crab-char  {
    width: 100%;
    padding: 3px;
    height: 20px;
    background-color: #c34821;
    border-radius: 0px 0px 3px 3px;
}

.crab-char img {
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    border-radius: 50%;
}

.node-input {
    width: 55px;
    height: 55px;
    margin: auto;
    background-color: #322626;
    color: limegreen;
    resize: none;
}


/***
DEV AND TEST STYLES
***/

.large-crab-node {
    display: inline-block;
    width: 380px;
    height: 380px;
    background-color: aqua;
    color: #111;
    border-radius: 3px;
    margin: 10px;
    margin-bottom: 50px;
}

.large-screen {
    width: 360px;
    height: 360px;
    margin: auto;
    background-color: #322626;
    color: limegreen;
    font-size: 16px;
}

.large-screen-top-bar {
    width: 100%;
    margin: 0px;
    background-color: #008;
    color: #eee;
    text-align: left;
}

.large-screen-top-bar span {
    margin-right: 15px;
}

.large-crab-char  {
    width: 100%;
    padding: 3px;
    height: 100px;
    background-color: #c34821;
    border-radius: 0px 0px 3px 3px;
}

.large-crab-char img {
    display: block;
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50%;
}

.large-node-input {
    min-width: 330px;
    min-height: 330px;
    margin: auto;
    background-color: #322626;
    color: limegreen;
    resize: none;
}
