body {
    background-color: #ffa5006e;
    color: #c34821;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    min-width: 480px;
    min-height: 480px;
}

header {
    padding: 20px, 20px, 0px, 20px;
    height: 15vh;
}

#menu { text-align: left; }
#menu span { text-decoration: underline; margin: 15px; }
#menu span a { text-decoration: none; }
#menu span:hover { text-shadow: 0px 0px 10px #008fcc; }

#crab-logo {
    margin: auto;
    width: 250px;
    height: 250px;
}

#load-arena-button {
    border-radius: 10px;
}

.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

#game-wrapper {
    background-image: url('hacking-hermit-crabs-banner-scene.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#action-box {
    display: none;
    background-color: #ddd;
    color: #111;
    border: solid 2px lime;
    border-radius: 10px;
    width: 300px;
    min-height: 150px;
    padding: 15px;
}

#action-box-content {
    margin-bottom: 10px;
}

#habitat-scene {
    width: 100%;
    height: 45%;
    min-height: 400px;
    visibility: hidden;
}

#arena {
    padding: 25px;
    margin-bottom: 25px;
}

.crab-node {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: aqua;
    color: #111;
    border-radius: 3px;
    margin: 10px;
}

.screen {
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: #999;
    font-size: 3px;
}

.screen-top-bar {
    width: 92%;
    margin: auto;
    background-color: #008;
    color: #eee;
    text-align: left;
}

.screen-top-bar span {
    margin-right: 3px;
}

.node-input {
    width: 92%;
    height: 92%;
    margin: auto;
    background-color: #322626;
    color: limegreen;
    resize: none;
    font-size: 1.8em
}

.crab-area  {
    width: 100%;
    height: 25%;
    padding: 3px;
    height: 20px;
    background-color: #c34821;
    border-radius: 0px 0px 3px 3px;
}

.crab-area img {
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    border-radius: 50%;
}

/* .lg expanded crab node*/
.crab-node.lg {
    position: fixed;
    top: 15%;
    left: 30%;
    display: block;
    width: 40%;
    height: 65%;
    margin: auto;
}
.screen.lg { font-size: 16px; }
.screen.lg .screen-top-bar span { margin-right: 15px; }

.node-input.lg { box-shadow: inset 0 0 7px yellow; }
.crab-area.lg  { height: 25%; }

.crab-area.lg img {
    width: 75px;
    height: 75px;
}

/** Habitat */
.habitat-scene {
    width: 65%;
    margin: 40px auto;
}

.habitat-row {
    width: 100%;
    margin: 15px auto;
}

.habitat-row:nth-child(2) { padding-left: 4vw; }
.habitat-row:nth-child(3) { padding-left: 8vw; }

.habitat-cell {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin: -10px 25px;
    border: solid 2px lime;
    transform:rotate(-26deg) skewX(40deg) skewY(40deg);
}

.habitat-skew {
    border: solid 3px lime;
    transform:rotate(-26deg) skewX(40deg) skewY(40deg);
}
